$logobackground: white;
$subnavBackgorund: black;
$titlefont: 'Lobster', cursive;
$paragraphFont:'Open Sans', sans-serif;
.menu {
  
	 & .menu__list{
        list-style:none;
      display:flex;
        align-items:center;
    
        & .menu__items{
            display:flex;
          
            & .menu_item_link {
              font-family: $titlefont;
                color:black;
                margin:20px;
                text-decoration:none;

                &:hover {
                    transform:scale(1.1);
                }
            }
        }
    }
    & #menu__logo {
        display:flex;
        background:$logobackground;
     
        & .nav__logo__modified{
         color:white;
              margin:10px;
          font-size: 30px;
            text-decoration:none;
      }
     
     } 
}


.submenu {
  margin-top:-17px;
  background:$subnavBackgorund;

  .submenu__list {
    display: flex;
    list-style: none;

    .submenu_item__link {

        display: flex;
        font-family: $titlefont;
        color: white;
        padding: 10px;
        text-decoration: none;
         
       }
      & li:nth-child(-n+2) a:after {
        content: ' / ';
         margin-left:20px;
       }
   }
}
 




