.nav {
	 & .nav_list{
        list-style:none;
      display:flex;
        align-items:center;
    
        & .nav_items{
            display:flex;
          
            & .nav_link {
                color:black;
                margin:20px;
                text-decoration:none;

                &:hover {
                    transform:scale(1.1);
                }
            }
        }
    }
    & #nav_logo {
        background:black;
     
        & .nav_logo-modified{
         color:white;
              margin:10px;
          font-size: 30px;
            text-decoration:none;
      }
     
     } 
}






.sub_nav {
  margin-top:-16px;
  background:lightgrey;
}
.sub_nav .nav_list {
 display: flex;
}
.sub_nav .nav_item {
 list-style: none;
}

.sub_nav .nav_link {

 display: flex;
 color: black;
 padding: 10px;
 text-decoration: none;
  
}

.sub_nav .nav_list li:nth-child(-n+2) a:after {
 content: ' / ';
  margin-left:20px;
}
