$logobackground: white;
$subnavBackgorund: black;
$titlefont: 'Lobster', cursive;
$paragraphFont:'Open Sans', sans-serif;
.nav {
  
	 & .nav_list{
        list-style:none;
      display:flex;
        align-items:center;
    
        & .nav_items{
            display:flex;
          
            & .nav_link {
              font-family: $titlefont;
                color:black;
                margin:20px;
                text-decoration:none;

                &:hover {
                    transform:scale(1.1);
                }
            }
        }
    }
    & #nav_logo {
        display:flex;
        background:$logobackground;
     
        & .nav_logo-modified{
         color:white;
              margin:10px;
          font-size: 30px;
            text-decoration:none;
      }
     
     } 
}


.sub_nav {
  margin-top:-17px;
  background:$subnavBackgorund;

  .nav_list {
    display: flex;
    list-style: none;

    .nav_link {

        display: flex;
        font-family: $titlefont;
        color: white;
        padding: 10px;
        text-decoration: none;
         
       }
      & li:nth-child(-n+2) a:after {
        content: ' / ';
         margin-left:20px;
       }
   }
}
 




