$navlinkbackground: #F29F05;
$titlefont: 'Lobster', cursive;
$paragraphFont:'Open Sans', sans-serif;
#main{ 
 
    display:flex;
    flex-wrap:wrap;
    margin:10px;
    
  }
  .main-article{
    width:300px;
    margin:auto;
    padding:10px;
  border: black 1px solid;
    margin-top:10px;
    p{
        width:140px;
    }
    b{
        text-decoration:underline;
      }  

    .article-section{
        display:flex;
        background:#EDF6FC;
       /* width:auto;
       height:150px;*/
       margin: auto;
      text-align:center;
        align-items:center;
        font-family: $paragraphFont;
        & .section-paragraph{
          
            transform:translate(70px);
           font-size:20px;

         }  
      }

    .article-section2{
      font-family: $paragraphFont;
      font-size: 14px;
      .sec-header{
        font-family: $titlefont;
        font-size: 18px;
      }
        p:last-child{
         
            color:green;
        }

      }
       
  }
  
  
  
  
  @media only screen and (max-width:700px) {
   
    body{
      margin-top:70px;

      #nav_logo {
        position:absolute;
        top:7px;
        left:45%;
         }

         .nav {
            background:$navlinkbackground;
            & .nav_list{
                & .nav_items{
                    & .nav_link{
                        color:black;
                        margin-left:-3%;

                    }
                }
            }
        } 

        .main-article{
            width:65%;
          }


    }
    
    
    
      
    
  }