#main{ 
 
    display:flex;
    flex-wrap:wrap;
    margin:10px;
    
  }
  
  .main-article{
    width:300px;
    margin:auto;
    padding:10px;
  border: black 1px solid;
    margin-top:10px;
  }
  .main-article .article-section{
    display:flex;
    background:#EDF6FC;
    width:auto;
    height:150px;
  text-align:center;
    align-items:center;
  }
  .main-article .article-section .section-paragraph{
     transform:translate(70px);
    font-size:20px;
  }
  
  .main-article p{
      width:140px;
  }
  
  .main-article .article-section2 p:last-child{
      color:green;
  }
  
  .main-article b{
    text-decoration:underline;
  }
  
  
  
  @media only screen and (max-width:700px) {
   
    body{
      margin-top:70px;
    }
    #nav_logo {
        position:absolute;
        top:7px;
        left:45%;
  }
    
   
     .nav {
      background:black;
  }
    
    .nav .nav_list .nav_items .nav_link {
      color:white;
  margin-left:-3%;
  }
    
    
    
    .main-article{
      width:70%;
    }
      
    
  }