$navlinkbackground: #F29F05;
$titlefont: 'Lobster', cursive;
$paragraphFont:'Open Sans', sans-serif;
#movie-list{ 
 
    display:flex;
    flex-wrap:wrap;
    margin:10px;
    
  }
  .movie-item{
    width:300px;
    margin:auto;
    padding:10px;
  border: black 1px solid;
    margin-top:10px;
    p{
        width:140px;
    }
    b{
        text-decoration:underline;
      }  

    .movie-banner{
        display:flex;
        background:#EDF6FC;
       /* width:auto;
       height:150px;*/
       margin: auto;
      text-align:center;
        align-items:center;
        font-family: $paragraphFont;
       
      }

    .movie-description{
      font-family: $paragraphFont;
      font-size: 14px;
      .movie-title{
        font-family: $titlefont;
        font-size: 18px;
      }
        p:last-child{
         
            color:green;
        }

      }
       
  }
  
  
  
  
  @media only screen and (max-width:700px) {
   
    body{
      margin-top:70px;

      #nav_logo {
        position:absolute;
        top:7px;
        left:45%;
         }

         .nav {
            background:$navlinkbackground;
            & .nav_list{
                & .nav_items{
                    & .nav_link{
                        color:black;
                        margin-left:-3%;

                    }
                }
            }
        } 

        .movie-item{
            width:65%;
          }


    }
    
    
    
      
    
  }