$titlefont: 'Lobster', cursive;
$paragraphFont:'Open Sans', sans-serif;
.main__header{
  font-family: $titlefont;
}
.paragraph{
  font-family: $paragraphFont;
    display: flex;
  width:500px;
}



@media only screen and (max-width:530px) {

.paragraph{
    width:auto;
}
}