.nav .nav__list { list-style: none; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.nav .nav__list .nav__items { display: -webkit-box; display: -ms-flexbox; display: flex; }

.nav .nav__list .nav__items .nav__link { font-family: "Lobster", cursive; color: black; margin: 20px; text-decoration: none; }

.nav .nav__list .nav__items .nav__link:hover { -webkit-transform: scale(1.1); transform: scale(1.1); }

.nav #nav__logo { display: -webkit-box; display: -ms-flexbox; display: flex; background: white; }

.nav #nav__logo .nav__logo__modified { color: white; margin: 10px; font-size: 30px; text-decoration: none; }

.sub__nav { margin-top: -17px; background: black; }

.sub__nav .nav__list { display: -webkit-box; display: -ms-flexbox; display: flex; list-style: none; }

.sub__nav .nav__list .nav__link { display: -webkit-box; display: -ms-flexbox; display: flex; font-family: "Lobster", cursive; color: white; padding: 10px; text-decoration: none; }

.sub__nav .nav__list li:nth-child(-n+2) a:after { content: ' / '; margin-left: 20px; }

#movie__list { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin: 10px; }

.movie__item { width: 300px; margin: auto; padding: 10px; border: black 1px solid; margin-top: 10px; }

.movie__item p { width: 140px; }

.movie__item b { text-decoration: underline; }

.movie__item .movie__banner { display: -webkit-box; display: -ms-flexbox; display: flex; background: #EDF6FC; /* width:auto; height:150px;*/ margin: auto; text-align: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; font-family: "Open Sans", sans-serif; }

.movie__item .movie__description { font-family: "Open Sans", sans-serif; font-size: 14px; }

.movie__item .movie__description .movie__title { font-family: "Lobster", cursive; font-size: 18px; }

.movie__item .movie__description p:last-child { color: green; }

@media only screen and (max-width: 700px) { body { margin-top: 70px; }
  body #nav__logo { position: absolute; top: 7px; left: 45%; }
  body .nav { background: #F29F05; }
  body .nav .nav__list .nav__items .nav__link { color: black; margin-left: -3%; }
  body .movie__item { width: 65%; } }

.main__header { font-family: "Lobster", cursive; }

.paragraph { font-family: "Open Sans", sans-serif; display: -webkit-box; display: -ms-flexbox; display: flex; width: 500px; }

@media only screen and (max-width: 530px) { .paragraph { width: auto; } }
